{% extends "base.html" %}

{% block content %}
<div id="query-controls" class="utils-container">
  <h2 class="title">Search for information about rare diseases</h2>

  <textarea id="query-input" placeholder="What genes are related to EDS?"></textarea>

  <span class="label">Model to query</span>
  <div class="model-selection">
    <label>
      <input type="radio" id="model1" name="model-select" value="llama-2023-08-14" checked>
      Llama-2-7b [2023-08-14]
    </label>

    <label>
      <input type="radio" id="model3" name="model-select" value="davinci-2023-08-14">
      GPT (Davinci) [2023-08-14]
    </label>
  </div>

  <button id="btn-search" class="link link-primary btn-submit" style="margin-top: 2rem;">Search</button>

  <div class="container container-center">
    <div class="spinner-container">
      <div id="query-loading" class="spinner hidden"></div>
    </div>
  </div>

  <textarea style="font-family: Arial; text-align: left;" id="response-text" contenteditable="false"></textarea>
</div>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='hackathon.js') }}"></script>
{% endblock %}