{% extends "base.html" %}

{% block content %}
<div id="search-controls" class="utils-container">
    <h2 class="title">Query</h2>

    <span class="label">Query</span>
    <div class="row-container">
        <input id="query-input" class="text-input" />
        <button class="link link-primary" id="btn-search">Search</button>
    </div>

    {% if show_kb_options %}
    <span class="label">Knowledge base to query</span>
    <div class="kb-selection">
        <label>
            <input type="radio" name="kb-select" value="papertograph" checked>
            Paper2Graph
        </label>
        <label>
            <input type="radio" name="kb-select" value="querymydrive">
            Google Drive
        </label>
    </div>
    {% endif %}
</div>

<div id="search-loading-spinner" class="container container-center hidden">
    <div class="spinner-container">
        <div class="spinner"></div>
    </div>
</div>

<div id="generic-error-msg" class="error-msg hidden">
    Error encountered during query. Please try again.
</div>

<div id="search-output-container" class="utils-container">
    <span class="label">Textual answer to the question</span>
    <div id="answer-output">
    </div>
    <span class="label">References</span>
    <div id="references-output">
    </div>
    <span class="label">Sources</span>
    <div id="sources-output">
        [None]
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='query.js') }}"></script>
{% endblock %}